
    <div class="nav-container">
        <img src="../images/noka-logo.png" alt="NOKA Logo" class="logo" />
        <nav class="nav-links">
            <a href="../index.html">Home</a>
            <!--About-->
            <div class="nav-dropdown">
                <button class="dropbtn about-btn">
                    About <i id="about-icon" class="fas fa-plus"></i>
                </button>
                <div class="dropdown-content about-dropdown">
                    <a href="#">About Noka</a>
                    <a href="#">About the Matcha</a>
                    <a href="aboutus.html">About Us</a>
                </div>
            </div>
            <!-- Products dropdown -->
            <div class="nav-dropdown">
                <button class="dropbtn products-btn">
                    Products <i id="products-icon" class="fas fa-plus"></i>
                </button>
                <div class="dropdown-content products-dropdown">
                    <a href="gallery.html">Gallery</a>
                    <a href="recipe.html">Recipe</a>
                </div>
            </div>

            <a href="comparison.html">Comparison</a>
            <div class="nav-dropdown">
                <button class="dropbtn contacts-btn">
                    Contacts <i id="contacts-icon" class="fas fa-plus"></i>
                </button>
                <div class="dropdown-content contacts-dropdown">


                    <a href="faq.html">FAQ</a>
                    <a href="contact.html">Contact</a>
                </div>
            </div>
        </nav>
    </div>

